<!--浏览视图-->
<div class="swiper-container mall-main-swiper" xmlns:th="http://www.thymeleaf.org" th:id="${componentId}">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="mallProduct:${dataList}">
            <a th:href="@{/${mallProduct.contentURI}}" href="javascript:void(0)">
                <img th:each="galleryItem : ${mallProduct.galleryItems}"
                     res:src="${galleryItem.thumbUri}"
                 src="http://placehold.it/920x466/d5975c/ffffff?text=1">
            </a>
        </div>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-pagination swiper-pagination-white"></div>
</div>
<!--/预览视图-->